Bug: libcurl transport layer doesn't correctly handle `Connection: close` response header

Storage team recently found this when investigating on an RST issue between C++ clients and storage service. We're seeing abnormally high number of RST in TCP connections. After reading the source code, I found libcurl transport layer didn't correctly handle "connection: close" response header.

at Line 872 of `curl.cpp`, the connection is immediately closed the moment we see this response header.

https://github.com/Azure/azure-sdk-for-cpp/blob/121c103d3baf267c12f8943c7cbafcd8c08a3e7d/sdk/core/azure-core/src/http/curl/curl.cpp#L872


But in [RFC2616, section 14.10](https://www.rfc-editor.org/rfc/rfc2616#section-14.10), it says: the connection SHOULD NOT be considered `persistent' **after** the current request/response is complete.


The expected behavior should be: client side reads response body as normal. After that, instead of putting this connection back to the pool, it closes this connection.

Here are packets captured by WireShark

<img width="1489" alt="image" src="https://user-images.githubusercontent.com/52266153/204462526-724e9c5d-4e85-4908-9da2-1f03aad4efa0.png">

Packet 448405 contains the HTTP response body, where we can see the "Connection: close" response header.
After this packet, server side was sending more packets containing the response body (Packet 448406~448412).
But client side initiatively closed the connection in Packet 448417 (FYN), then reset the connection on receiving more data (Packet 448419, 448421 etc.)

I can come up with another fix.

```diff
--- a/sdk/core/azure-core/src/http/curl/curl.cpp
+++ b/sdk/core/azure-core/src/http/curl/curl.cpp
@@ -869,7 +869,8 @@ void CurlSession::ReadStatusLineAndHeadersFromRawResponse(
             connectionHeader->second, "close"))
     {
       // Use connection shut-down so it won't be moved it back to the connection pool.
-      m_connection->Shutdown();
+      // m_connection->Shutdown();
+      m_keepAlive = false;
     }
     // If the server indicated that the connection header is "upgrade", it means that this
     // is a WebSocket connection so the caller may be upgrading the connection.
```